* {
    font-family: sans-serif;
    font-size: 14px;
}

html, body {
    background-color: #222;
    overflow: hidden;
}

html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#menuContainer, #settings {
    z-index: 999;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
    overflow: hidden;
}

#settings {
    max-height: 0;
}

#clientContainer {
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
}

#menu {
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}

#menu h1 {
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

#nickname {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: solid 1px #f7931e;
    transition: box-shadow 0.25s, border 0.25s;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    outline: none;
    box-sizing: border-box;
}

.button {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    background: #f7931e;
    cursor: hand;
    cursor: pointer;
    box-shadow: inset 0 -2px #f7931e;
    -webkit-box-shadow: inset 0 -2px #f7931e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    outline: none;
}

#nicknameError {
    color: red;
    text-align:center;
    display: none;
}

#hue {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#huePreview {
    width: 100%;
    height: 25px;
    background-color: hsl(180, 100%, 50%);
    padding: 0;
    margin-top:-10px;
    margin-bottom: 10px;
}

.white {
    -webkit-text-stroke: 1px black;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.centered {
    display: block;
    text-align: center;
    line-height: 25px;
}