use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.

# Copy mix phx.gen.secret to the secret_key_base 
config  :sunshines_battleacademy, SunshinesBattleacademy.Web.Endpoint,
  secret_key_base: "JatjRz9rUcHPGhjM8fPzSpitzEYz2krYQzEHGgXcdlFpg3qSouXyywDyGrp5MeY1"
